@charset "utf-8";
/* CSS Document */
html {
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  -moz-text-size-adjust: 100%;
  -moz-font-smoothing: antialiased;
  -moz-text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -moz-text-stroke: rgba(255,255,255,0.01) 0.1px;
  
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  text-stroke: rgba(255,255,255,0.01) 0.1px;
}


/*****************************************************************************
***************************Global css start **********************************
******************************************************************************/
ul, ol{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6,p{margin:0;}
a:hover{ text-decoration:none;}
a:focus{ outline:none !important; text-decoration:none;}
.btn:focus{ outline:none !important;}
a{ -webkit-transition: all 0.4s ease-in-out 0.1s; -moz-transition: all 0.4s ease-in-out 0.1s; transition: all 0.4s ease-in-out 0.1s;}

/*****************************************************************************
***************************Global css end ************************************
******************************************************************************/



/*****************************************************************************
***************************css for header sec start***************************
******************************************************************************/
.header_sec{ padding:30px 0;}
.header_inner{ text-align:right;}
.marker h1{ padding:15px 0;}
.sidebar p,
.sidebar h4,
.right_sidebar p,
.right_sidebar h4,
.marker h3{ padding:10px 0;} 
.login_blcok{ max-width:400px; width:100%; margin:0 auto}
.login_wrapper_inner{ padding-top:12%;}
.login_top {padding: 15px 0;}
.newcard_btn li{ display:inline-block; vertical-align: middle}
.newcard_btn li span{ position:relative; overflow:hidden;}
.newcard_btn li span input[type="file"] { height: 100%;left: 0; opacity: 0; position: absolute;top: 0;width: 100%;}

/*****************************************************************************
***************************css for header sec end  ***************************
******************************************************************************/


/*****************************************************************************
***************************css for conten sec start***************************
******************************************************************************/



/*****************************************************************************
***************************css for conten sec end  ***************************
******************************************************************************/





/*****************************************************************************
***************************css for footer sec start ***************************
******************************************************************************/



/*****************************************************************************
***************************css for footer sec end ***************************
******************************************************************************/


